/* flexbox layout */
body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  /* flex: 3; */
}


article {
  flex: 2;
  overflow-y: auto;
}

aside {
  /* flex: 1; */
  overflow-y: auto;
  border-left: 2px solid #ccc;
  padding: 20px;
  flex-direction: column;

}

header {
  background-color: rgb(127, 206, 242);
  color: azure;
  padding: 15px;
}


footer {
  background-color: rgb(127, 206, 242);
  text-align: center;
  padding: 10px;
}

.media {
  color: white;
}